body {
    font-family: 'Overpass Mono', monospace;
}

.mainBody {
    background-image: url(../images/x_wing_background.jpg);
    height: 800px;
}

.headerCol {
    font-size: 40px;
    font-weight: bold;
}

.obiWan,
.luke,
.darthSid,
.darthM {
    
    position: relative;
}

.characterRow,
.attackRow,
.fightRow,
.defenderRow {
    font-size: 22px;
    font-weight: bold;
}

.characterRow {
    height: 175px;
}

.imageTextTop {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 0;
    width: 100%;
}

.imageTextBottom {
    bottom: -5%;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    width: 100%;
}

.obiBox,
.lukeBox,
.sidBox,
.maulBox {
    background-color: white;
    display: inline-block;
    position: relative;
    border: 2px solid green;
}